# Import Libraries & Read The Data

In [56]:
# Import Libraries
import pandas as pd
import numpy as np

In [57]:
aircraft = pd.read_csv('../data/raw_data/Aircraft.csv', encoding='latin1', delimiter=';')
aircraft

,codigo_ocorrencia2,aeronave_matricula,aeronave_operador_categoria,aeronave_tipo_veiculo,aeronave_fabricante,aeronave_modelo,aeronave_tipo_icao,aeronave_motor_tipo,aeronave_motor_quantidade,aeronave_pmd,...,aeronave_pais_fabricante,aeronave_pais_registro,aeronave_registro_categoria,aeronave_registro_segmento,aeronave_voo_origem,aeronave_voo_destino,aeronave_fase_operacao,aeronave_tipo_operacao,aeronave_nivel_dano,aeronave_fatalidades_total
0,82047,PRGXA,***,AVIÃO,BOEING COMPANY,737-8EH,B738,JATO,BIMOTOR,70533.0,...,BRASIL,BRASIL,AVIÃO,REGULAR,CAMPO GRANDE,CONGONHAS,DECOLAGEM,REGULAR,NENHUM,0.0
1,82045,PRGXX,***,AVIÃO,BOEING COMPANY,737-8EH,***,JATO,BIMOTOR,70533.0,...,BRASIL,BRASIL,AVIÃO,REGULAR,SANTOS DUMONT,AFONSO PENA,APROXIMAÇÃO FINAL,REGULAR,NENHUM,0.0
2,82039,PSGPD,***,AVIÃO,UNIVAIR AIRCRAFT,108-1,S108,NaN,MONOMOTOR,1012.0,...,BRASIL,BRASIL,AVIÃO,REGULAR,PRESIDENTE JUSCELINO KUBITSCHEK,ANTONIO CARLOS JOBIM / GALEÃO,APROXIMAÇÃO FINAL,REGULAR,NENHUM,0.0
3,82038,PRGXF,***,AVIÃO,BOEING COMPANY,737-8EH,B738,JATO,BIMOTOR,70533.0,...,BRASIL,BRASIL,AVIÃO,REGULAR,PRESIDENTE JOÃO BATISTA FIGUEIREDO,GOVERNADOR ANDRÉ FRANCO MONTORO,POUSO,REGULAR,NENHUM,0.0
4,82037,PRGXI,***,AVIÃO,BOEING COMPANY,737-8EH,B738,JATO,BIMOTOR,70533.0,...,BRASIL,BRASIL,AVIÃO,REGULAR,CONGONHAS,DEPUTADO LUÍS EDUARDO MAGALHÃES,APROXIMAÇÃO FINAL,REGULAR,NENHUM,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8862,28377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8863,28375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8864,28355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8865,28335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8866,28256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
occurrence = pd.read_csv('../data/raw_data/Occurrence.csv', encoding='latin1', delimiter=';')
occurrence

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,82047,82047,82047,82047,82047,INCIDENTE,-20.46944444444,-54.67027777777,CAMPO GRANDE,MS,...,19/04/2023,13:25:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,82045,82045,82045,82045,82045,INCIDENTE,-25.53166666666,-49.17611111111,SÃO JOSÉ DOS PINHAIS,PR,...,09/04/2023,20:50:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
2,82039,82039,82039,82039,82039,INCIDENTE,-22.81,-43.25055555555,RIO DE JANEIRO,RJ,...,17/04/2023,13:20:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
3,82038,82038,82038,82038,82038,INCIDENTE,-23.43555555555,-46.47305555555,GUARULHOS,SP,...,18/04/2023,09:55:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
4,82037,82037,82037,82037,82037,INCIDENTE,-12.90861111111,-38.3225,SALVADOR,BA,...,18/04/2023,11:25:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,28377,28377,28377,28377,28377,ACIDENTE,***,***,IMPERATRIZ,MA,...,27/01/2007,11:18:00,NaN,FINALIZADA,A-053/CENIPA/2009,SIM,2009-11-16,2,1,NÃO
8774,28375,28375,28375,28375,28375,ACIDENTE,-23.6122222222,-51.385,APUCARANA,PR,...,26/01/2007,18:15:00,NaN,FINALIZADA,A-021/CENIPA/2010,SIM,2007-08-15,1,1,NÃO
8775,28355,28355,28355,28355,28355,ACIDENTE,-17.2541666667,-43.8536111111,BOCAIÚVA,MG,...,18/01/2007,09:10:00,NaN,FINALIZADA,A-001/CENIPA/2010,SIM,2010-03-19,11,1,NÃO
8776,28335,28335,28335,28335,28335,ACIDENTE,-23.3444444444,-51.0633333333,LONDRINA,PR,...,19/01/2007,12:30:00,NaN,FINALIZADA,A-169/CENIPA/2013,SIM,2013-12-16,1,1,NÃO
8777,28256,28256,28256,28256,28256,ACIDENTE,-22.2180555556,-47.1763888889,MOGI GUAÇU,SP,...,07/01/2007,11:30:00,***,FINALIZADA,A-112/CENIPA/2012,SIM,2012-10-17,2,1,NÃO

In [59]:
occurrence_type = pd.read_csv('../data/raw_data/Occurrence Type.csv', encoding='latin1', delimiter=';')
occurrence_type

,codigo_ocorrencia1,ocorrencia_tipo,ocorrencia_tipo_categoria,taxonomia_tipo_icao
0,82047,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
1,82045,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
2,82039,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
3,82038,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
4,82037,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
...,...,...,...,...
9209,28377,FALHA DO MOTOR EM VOO,FALHA OU MAU FUNCIONAMENTO DO MOTOR | FALHA DO...,SCF-PP
9210,28375,COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO,COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO,CTOL
9211,28355,FALHA ESTRUTURAL,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,SCF-NP
9212,28335,VOO CONTROLADO CONTRA O TERRENO,VOO CONTROLADO CONTRA O TERRENO,CFIT
9213,28256,OPERAÇÃO A BAIXA ALTITUDE,OPERAÇÃO A BAIXA ALTITUDE,LALT

In [60]:
contributor_factor = pd.read_csv('../data/raw_data/Contributor Factor.csv', encoding='latin1', delimiter=';')
contributor_factor

,codigo_ocorrencia3,fator_nome,fator_aspecto,fator_condicionante,fator_area
0,81195,APLICAÇÃO DE COMANDOS,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
1,81195,ATITUDE,ASPECTO PSICOLÓGICO,INDIVIDUAL,FATOR HUMANO
2,81195,MANUTENÇÃO DA AERONAVE,DESEMPENHO DO SER HUMANO,MANUTENÇÃO DA AERONAVE,FATOR OPERACIONAL
3,81195,POUCA EXPERIÊNCIA DO PILOTO,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
4,81195,PROCESSO DECISÓRIO,ASPECTO PSICOLÓGICO,INDIVIDUAL,FATOR HUMANO
...,...,...,...,...,...
4862,45331,FRASEOLOGIA DO ÓRGÃO ATS,DESEMPENHO DO SER HUMANO,PRESTAÇÃO DE SERVIÇOS DE TRÁFEGO AÉREO,FATOR OPERACIONAL
4863,45331,LIDERANÇA,ASPECTO PSICOLÓGICO,PSICOSSOCIAL,FATOR HUMANO
4864,45331,PERCEPÇÃO,ASPECTO PSICOLÓGICO,INDIVIDUAL,FATOR HUMANO
4865,45331,PROCESSOS ORGANIZACIONAIS,ASPECTO PSICOLÓGICO,ORGANIZACIONAL,FATOR HUMANO
4866,45331,SUPERVISÃO GERENCIAL,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL

# Creating Backup

In [61]:
aircraft_backup = aircraft.copy()
occurrence_backup = occurrence.copy()
occurrence_type_backup = occurrence_type.copy()
contributor_factor_backup = contributor_factor.copy()

# Understand More About The Data

In [62]:
aircraft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8867 entries, 0 to 8866
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   codigo_ocorrencia2           8867 non-null   int64
 1   aeronave_matricula           6228 non-null   object
 2   aeronave_operador_categoria  6228 non-null   object
 3   aeronave_tipo_veiculo        6228 non-null   object
 4   aeronave_fabricante          6228 non-null   object
 5   aeronave_modelo              6227 non-null   object
 6   aeronave_tipo_icao           6228 non-null   object
 7   aeronave_motor_tipo          6195 non-null   object
 8   aeronave_motor_quantidade    6228 non-null   object
 9   aeronave_pmd                 6228 non-null   float64
 10  aeronave_pmd_categoria       6228 non-null   float64
 11  aeronave_assentos            5932 non-null   float64
 12  aeronave_ano_fabricacao      5972 non-null   float64
 13  aeronave_pais_fabricante     6228 non-null   object
 14  aeronave_pais_registro       6228 non-null   object
 15  aeronave_registro_categoria  6228 non-null   object
 16  aeronave_registro_segmento   6228 non-null   object
 17  aeronave_voo_origem          6227 non-null   object
 18  aeronave_voo_destino         6227 non-null   object
 19  aeronave_fase_operacao       6228 non-null   object
 20  aeronave_tipo_operacao       6228 non-null   object
 21  aeronave_nivel_dano          6228 non-null   object
 22  aeronave_fatalidades_total   6228 non-null   float64
dtypes: float64(5), int64(1), object(17)
memory usage: 1.6+ MB

In [63]:
aircraft.isna().sum()

codigo_ocorrencia2                0
aeronave_matricula             2639
aeronave_operador_categoria    2639
aeronave_tipo_veiculo          2639
aeronave_fabricante            2639
aeronave_modelo                2640
aeronave_tipo_icao             2639
aeronave_motor_tipo            2672
aeronave_motor_quantidade      2639
aeronave_pmd                   2639
aeronave_pmd_categoria         2639
aeronave_assentos              2935
aeronave_ano_fabricacao        2895
aeronave_pais_fabricante       2639
aeronave_pais_registro         2639
aeronave_registro_categoria    2639
aeronave_registro_segmento     2639
aeronave_voo_origem            2640
aeronave_voo_destino           2640
aeronave_fase_operacao         2639
aeronave_tipo_operacao         2639
aeronave_nivel_dano            2639
aeronave_fatalidades_total     2639
dtype: int64

In [64]:
occurrence.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8778 entries, 0 to 8777
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   codigo_ocorrencia               8778 non-null   int64
 1   codigo_ocorrencia1              8778 non-null   int64
 2   codigo_ocorrencia2              8778 non-null   int64
 3   codigo_ocorrencia3              8778 non-null   int64
 4   codigo_ocorrencia4              8778 non-null   int64
 5   ocorrencia_classificacao        8778 non-null   object
 6   ocorrencia_latitude             6200 non-null   object
 7   ocorrencia_longitude            6200 non-null   object
 8   ocorrencia_cidade               8778 non-null   object
 9   ocorrencia_uf                   8778 non-null   object
 10  ocorrencia_pais                 8778 non-null   object
 11  ocorrencia_aerodromo            8778 non-null   object
 12  ocorrencia_dia                  8778 non-null   object
 13  ocorrencia_hora                 8776 non-null   object
 14  investigacao_aeronave_liberada  8475 non-null   object
 15  investigacao_status             7364 non-null   object
 16  divulgacao_relatorio_numero     6913 non-null   object
 17  divulgacao_relatorio_publicado  8778 non-null   object
 18  divulgacao_dia_publicacao       2311 non-null   object
 19  total_recomendacoes             8778 non-null   int64
 20  total_aeronaves_envolvidas      8778 non-null   int64
 21  ocorrencia_saida_pista          8778 non-null   object
dtypes: int64(7), object(15)
memory usage: 1.5+ MB

In [65]:
occurrence.isna().sum()

codigo_ocorrencia                    0
codigo_ocorrencia1                   0
codigo_ocorrencia2                   0
codigo_ocorrencia3                   0
codigo_ocorrencia4                   0
ocorrencia_classificacao             0
ocorrencia_latitude               2578
ocorrencia_longitude              2578
ocorrencia_cidade                    0
ocorrencia_uf                        0
ocorrencia_pais                      0
ocorrencia_aerodromo                 0
ocorrencia_dia                       0
ocorrencia_hora                      2
investigacao_aeronave_liberada     303
investigacao_status               1414
divulgacao_relatorio_numero       1865
divulgacao_relatorio_publicado       0
divulgacao_dia_publicacao         6467
total_recomendacoes                  0
total_aeronaves_envolvidas           0
ocorrencia_saida_pista               0
dtype: int64

In [66]:
occurrence_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9214 entries, 0 to 9213
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   codigo_ocorrencia1         9214 non-null   int64
 1   ocorrencia_tipo            9214 non-null   object
 2   ocorrencia_tipo_categoria  9214 non-null   object
 3   taxonomia_tipo_icao        9214 non-null   object
dtypes: int64(1), object(3)
memory usage: 288.1+ KB

In [67]:
contributor_factor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4867 entries, 0 to 4866
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   codigo_ocorrencia3   4867 non-null   int64
 1   fator_nome           4867 non-null   object
 2   fator_aspecto        4867 non-null   object
 3   fator_condicionante  4867 non-null   object
 4   fator_area           4867 non-null   object
dtypes: int64(1), object(4)
memory usage: 190.2+ KB

# Drop Unnecessary Columns

In [68]:
aircraft_drop = [
  'aeronave_matricula', 'aeronave_motor_tipo', 'aeronave_motor_quantidade', 'aeronave_tipo_icao',	'aeronave_pmd',	'aeronave_pmd_categoria',	'aeronave_assentos',	'aeronave_ano_fabricacao',	'aeronave_pais_fabricante',	
  'aeronave_pais_registro', 'aeronave_registro_categoria',	'aeronave_registro_segmento',	'aeronave_voo_origem',	'aeronave_voo_destino',	'aeronave_tipo_operacao'
]

aircraft.drop(aircraft_drop, axis = 1, inplace = True)
aircraft.head()

,codigo_ocorrencia2,aeronave_operador_categoria,aeronave_tipo_veiculo,aeronave_fabricante,aeronave_modelo,aeronave_fase_operacao,aeronave_nivel_dano,aeronave_fatalidades_total
0,82047,***,AVIÃO,BOEING COMPANY,737-8EH,DECOLAGEM,NENHUM,0.0
1,82045,***,AVIÃO,BOEING COMPANY,737-8EH,APROXIMAÇÃO FINAL,NENHUM,0.0
2,82039,***,AVIÃO,UNIVAIR AIRCRAFT,108-1,APROXIMAÇÃO FINAL,NENHUM,0.0
3,82038,***,AVIÃO,BOEING COMPANY,737-8EH,POUSO,NENHUM,0.0
4,82037,***,AVIÃO,BOEING COMPANY,737-8EH,APROXIMAÇÃO FINAL,NENHUM,0.0

In [69]:
occurrence_drop = [
  'codigo_ocorrencia1',	'codigo_ocorrencia2',	'codigo_ocorrencia3',	'codigo_ocorrencia4',	'investigacao_aeronave_liberada',	'investigacao_status', 'divulgacao_relatorio_numero', 
  'divulgacao_relatorio_publicado',	'divulgacao_dia_publicacao',	'total_recomendacoes',	'ocorrencia_saida_pista'
]

occurrence.drop(occurrence_drop, axis = 1, inplace= True)
occurrence.head()

,codigo_ocorrencia,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas
0,82047,INCIDENTE,-20.46944444444,-54.67027777777,CAMPO GRANDE,MS,BRASIL,SBCG,19/04/2023,13:25:00,1
1,82045,INCIDENTE,-25.53166666666,-49.17611111111,SÃO JOSÉ DOS PINHAIS,PR,BRASIL,SBCT,09/04/2023,20:50:00,1
2,82039,INCIDENTE,-22.81,-43.25055555555,RIO DE JANEIRO,RJ,BRASIL,SBGL,17/04/2023,13:20:00,1
3,82038,INCIDENTE,-23.43555555555,-46.47305555555,GUARULHOS,SP,BRASIL,SBGR,18/04/2023,09:55:00,1
4,82037,INCIDENTE,-12.90861111111,-38.3225,SALVADOR,BA,BRASIL,SBSV,18/04/2023,11:25:00,1

In [70]:
occurrence_type_drop = [
  'ocorrencia_tipo_categoria', 'taxonomia_tipo_icao'
]

occurrence_type.drop(occurrence_type_drop, axis = 1, inplace = True)
occurrence_type.head()

   codigo_ocorrencia1  ocorrencia_tipo
0               82047  COLISÃO COM AVE
1               82045  COLISÃO COM AVE
2               82039  COLISÃO COM AVE
3               82038  COLISÃO COM AVE
4               82037  COLISÃO COM AVE

In [71]:
contributor_factor_drop = [
  'fator_nome',	'fator_aspecto', 'fator_condicionante'	
]

contributor_factor.drop(contributor_factor_drop, axis = 1, inplace = True)
contributor_factor.head()

   codigo_ocorrencia3         fator_area
0               81195  FATOR OPERACIONAL
1               81195       FATOR HUMANO
2               81195  FATOR OPERACIONAL
3               81195  FATOR OPERACIONAL
4               81195       FATOR HUMANO

# Rename Datasets

In [72]:
aircraft_rename = {
    'codigo_ocorrencia2': 'occurrence_id',
    'aeronave_operador_categoria': 'operator_category',
    'aeronave_tipo_veiculo': 'aircraft_type',
    'aeronave_fabricante': 'aircraft_manufacturer',
    'aeronave_modelo': 'aircraft_model',
    'aeronave_fase_operacao': 'operation_phase',
    'aeronave_nivel_dano': 'aircraft_damage_level',
    'aeronave_fatalidades_total': 'total_aircraft_fatalities'
}

aircraft.rename(columns = aircraft_rename, inplace = True)
aircraft.sample(5)

,occurrence_id,operator_category,aircraft_type,aircraft_manufacturer,aircraft_model,operation_phase,aircraft_damage_level,total_aircraft_fatalities
3071,77494,INSTRUÇÃO,AVIÃO,CESSNA AIRCRAFT,152,APROXIMAÇÃO FINAL,NENHUM,0.0
5738,47707,REGULAR,AVIÃO,AIRBUS INDUSTRIE,A319-132,POUSO,NENHUM,0.0
2565,78428,***,AVIÃO,AEROSPATIALE AND ALENIA,ATR-72-212A,CRUZEIRO,NENHUM,0.0
3462,66198,***,HELICÓPTERO,ROBINSON HELICOPTER,R44 II,DESCIDA,SUBSTANCIAL,0.0
136,81527,***,AVIÃO,EMBRAER,EMB203,VOO A BAIXA ALTURA,SUBSTANCIAL,0.0

In [73]:
occurrence_rename = {
    'codigo_ocorrencia': 'occurrence_id',
    'ocorrencia_classificacao': 'classification',
    'ocorrencia_latitude': 'latitude',
    'ocorrencia_longitude': 'longitude',
    'ocorrencia_cidade': 'city',
    'ocorrencia_uf': 'state',
    'ocorrencia_pais': 'country',
    'ocorrencia_aerodromo': 'aerodrome',
    'ocorrencia_dia': 'date',
    'ocorrencia_hora': 'time',
    'total_aeronaves_envolvidas': 'total_aircraft_involved'
}

occurrence.rename(columns=occurrence_rename, inplace=True)
occurrence.head()

,occurrence_id,classification,latitude,longitude,city,state,country,aerodrome,date,time,total_aircraft_involved
0,82047,INCIDENTE,-20.46944444444,-54.67027777777,CAMPO GRANDE,MS,BRASIL,SBCG,19/04/2023,13:25:00,1
1,82045,INCIDENTE,-25.53166666666,-49.17611111111,SÃO JOSÉ DOS PINHAIS,PR,BRASIL,SBCT,09/04/2023,20:50:00,1
2,82039,INCIDENTE,-22.81,-43.25055555555,RIO DE JANEIRO,RJ,BRASIL,SBGL,17/04/2023,13:20:00,1
3,82038,INCIDENTE,-23.43555555555,-46.47305555555,GUARULHOS,SP,BRASIL,SBGR,18/04/2023,09:55:00,1
4,82037,INCIDENTE,-12.90861111111,-38.3225,SALVADOR,BA,BRASIL,SBSV,18/04/2023,11:25:00,1

In [74]:
occurrence_type_rename = {
    'codigo_ocorrencia1': 'occurrence_id',
    'ocorrencia_tipo': 'type_category',
}

occurrence_type.rename(columns=occurrence_type_rename, inplace=True)
occurrence_type.head()

   occurrence_id    type_category
0          82047  COLISÃO COM AVE
1          82045  COLISÃO COM AVE
2          82039  COLISÃO COM AVE
3          82038  COLISÃO COM AVE
4          82037  COLISÃO COM AVE

In [75]:
contributor_factor_rename = {
    'codigo_ocorrencia3': 'occurrence_id',
    'fator_area': 'factor_area',
}

contributor_factor.rename(columns=contributor_factor_rename, inplace=True)
contributor_factor.head()

   occurrence_id        factor_area
0          81195  FATOR OPERACIONAL
1          81195       FATOR HUMANO
2          81195  FATOR OPERACIONAL
3          81195  FATOR OPERACIONAL
4          81195       FATOR HUMANO

# Check For Duplicated Rows

In [76]:
occurrence[occurrence.duplicated(subset=['occurrence_id'])]

Empty DataFrame
Columns: [occurrence_id, classification, latitude, longitude, city, state, country, aerodrome, date, time, total_aircraft_involved]
Index: []

In [77]:
occurrence_type[occurrence_type.duplicated(subset=['occurrence_id'])]

      occurrence_id                                      type_category
34            81756  FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...
35            81756                          PERDA DE CONTROLE NO SOLO
43            81737                          PERDA DE CONTROLE NO SOLO
54            81725                                  EXCURSÃO DE PISTA
65            81712                                  EXCURSÃO DE PISTA
...             ...                                                ...
8458          36842                                  EXCURSÃO DE PISTA
8838          34636                          PERDA DE CONTROLE NO SOLO
8950          32916                                  EXCURSÃO DE PISTA
9013          31875                          PERDA DE CONTROLE NO SOLO
9083          31255                                        POUSO LONGO

[436 rows x 2 columns]

In [78]:
aircraft[aircraft.duplicated(subset = ['occurrence_id'])]

,occurrence_id,operator_category,aircraft_type,aircraft_manufacturer,aircraft_model,operation_phase,aircraft_damage_level,total_aircraft_fatalities
90,81672,***,AVIÃO,PIPER AIRCRAFT,PA-31T,CRUZEIRO,NENHUM,0.0
144,81499,***,AVIÃO,RICARDO VIEIRA DE QUEIROZ,RV-10,CIRCUITO DE TRÁFEGO,NENHUM,0.0
162,81478,***,AVIÃO,PIPER AIRCRAFT,PA-46-500TP,POUSO,NENHUM,0.0
186,81416,***,AVIÃO,AIRBUS INDUSTRIE,A320-232,ARREMETIDA NO AR,NENHUM,0.0
406,81156,***,AVIÃO,BEECH AIRCRAFT,C90A,ESTACIONAMENTO,LEVE,0.0
...,...,...,...,...,...,...,...,...
5938,47245,AGRÍCOLA,AVIÃO,BEECH AIRCRAFT,58,OUTRA FASE,LEVE,0.0
6362,46255,***,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-711C,CRUZEIRO,DESTRUÍDA,0.0
6492,45903,TÁXI AÉREO,AVIÃO,EMBRAER,EMB-810C,APROXIMAÇÃO FINAL,NENHUM,0.0
6613,45689,PARTICULAR,AVIÃO,CIRRUS DESIGN,SR22,ESTACIONAMENTO,NENHUM,0.0
6614,45689,PARTICULAR,AVIÃO,BEECH AIRCRAFT,C90A,TÁXI,NENHUM,0.0

In [79]:
contributor_factor[contributor_factor.duplicated(subset = ['occurrence_id'])]

      occurrence_id        factor_area
1             81195       FATOR HUMANO
2             81195  FATOR OPERACIONAL
3             81195  FATOR OPERACIONAL
4             81195       FATOR HUMANO
5             81195       FATOR HUMANO
...             ...                ...
4862          45331  FATOR OPERACIONAL
4863          45331       FATOR HUMANO
4864          45331       FATOR HUMANO
4865          45331       FATOR HUMANO
4866          45331  FATOR OPERACIONAL

[3573 rows x 2 columns]

## Considering that the "factor" table contains a high percentage of duplicates, exceeding 70%, it will be excluded from the analysis

In [80]:
# Get % of duplicates
mask = (contributor_factor[contributor_factor.duplicated(subset = ['occurrence_id'])]).count()[0]
mask

factor_duplicated_pct =  mask / (contributor_factor.count()[0])
factor_duplicated_pct

0.73412779946579

# Merge Datasets

In [81]:
# Merge aircraft with occurrence using a left join
df = occurrence.merge(aircraft, on = 'occurrence_id', how = 'left')

# Merge occurrence_type with occurrence using a left join
df = df.merge(occurrence_type, on="occurrence_id", how="left")

df

,occurrence_id,classification,latitude,longitude,city,state,country,aerodrome,date,time,total_aircraft_involved,operator_category,aircraft_type,aircraft_manufacturer,aircraft_model,operation_phase,aircraft_damage_level,total_aircraft_fatalities,type_category
0,82047,INCIDENTE,-20.46944444444,-54.67027777777,CAMPO GRANDE,MS,BRASIL,SBCG,19/04/2023,13:25:00,1,***,AVIÃO,BOEING COMPANY,737-8EH,DECOLAGEM,NENHUM,0.0,COLISÃO COM AVE
1,82045,INCIDENTE,-25.53166666666,-49.17611111111,SÃO JOSÉ DOS PINHAIS,PR,BRASIL,SBCT,09/04/2023,20:50:00,1,***,AVIÃO,BOEING COMPANY,737-8EH,APROXIMAÇÃO FINAL,NENHUM,0.0,COLISÃO COM AVE
2,82039,INCIDENTE,-22.81,-43.25055555555,RIO DE JANEIRO,RJ,BRASIL,SBGL,17/04/2023,13:20:00,1,***,AVIÃO,UNIVAIR AIRCRAFT,108-1,APROXIMAÇÃO FINAL,NENHUM,0.0,COLISÃO COM AVE
3,82038,INCIDENTE,-23.43555555555,-46.47305555555,GUARULHOS,SP,BRASIL,SBGR,18/04/2023,09:55:00,1,***,AVIÃO,BOEING COMPANY,737-8EH,POUSO,NENHUM,0.0,COLISÃO COM AVE
4,82037,INCIDENTE,-12.90861111111,-38.3225,SALVADOR,BA,BRASIL,SBSV,18/04/2023,11:25:00,1,***,AVIÃO,BOEING COMPANY,737-8EH,APROXIMAÇÃO FINAL,NENHUM,0.0,COLISÃO COM AVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9305,28377,ACIDENTE,***,***,IMPERATRIZ,MA,BRASIL,***,27/01/2007,11:18:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FALHA DO MOTOR EM VOO
9306,28375,ACIDENTE,-23.6122222222,-51.385,APUCARANA,PR,BRASIL,***,26/01/2007,18:15:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO
9307,28355,ACIDENTE,-17.2541666667,-43.8536111111,BOCAIÚVA,MG,BRASIL,***,18/01/2007,09:10:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FALHA ESTRUTURAL
9308,28335,ACIDENTE,-23.3444444444,-51.0633333333,LONDRINA,PR,BRASIL,***,19/01/2007,12:30:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VOO CONTROLADO CONTRA O TERRENO
9309,28256,ACIDENTE,-22.2180555556,-47.1763888889,MOGI GUAÇU,SP,BRASIL,***,07/01/2007,11:30:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OPERAÇÃO A BAIXA ALTITUDE

# Hnadle Duplicates & Null Values

In [82]:
df[df.duplicated(subset='occurrence_id', keep=False)].head()

,occurrence_id,classification,latitude,longitude,city,state,country,aerodrome,date,time,total_aircraft_involved,operator_category,aircraft_type,aircraft_manufacturer,aircraft_model,operation_phase,aircraft_damage_level,total_aircraft_fatalities,type_category
33,81756,INCIDENTE GRAVE,-4.324444444444,-56.08805555555,ITAITUBA,PA,BRASIL,SNEJ,05/04/2023,17:20:00,1,***,AVIÃO,CESSNA AIRCRAFT,182P,CORRIDA APÓS POUSO,LEVE,0.0,EXCURSÃO DE PISTA
34,81756,INCIDENTE GRAVE,-4.324444444444,-56.08805555555,ITAITUBA,PA,BRASIL,SNEJ,05/04/2023,17:20:00,1,***,AVIÃO,CESSNA AIRCRAFT,182P,CORRIDA APÓS POUSO,LEVE,0.0,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...
35,81756,INCIDENTE GRAVE,-4.324444444444,-56.08805555555,ITAITUBA,PA,BRASIL,SNEJ,05/04/2023,17:20:00,1,***,AVIÃO,CESSNA AIRCRAFT,182P,CORRIDA APÓS POUSO,LEVE,0.0,PERDA DE CONTROLE NO SOLO
42,81737,ACIDENTE,-18.71277777777,-51.75722222222,ITARUMÃ,GO,BRASIL,***,29/06/2023,14:30:00,1,***,AVIÃO,CESSNA AIRCRAFT,182S,POUSO,SUBSTANCIAL,0.0,EXCURSÃO DE PISTA
43,81737,ACIDENTE,-18.71277777777,-51.75722222222,ITARUMÃ,GO,BRASIL,***,29/06/2023,14:30:00,1,***,AVIÃO,CESSNA AIRCRAFT,182S,POUSO,SUBSTANCIAL,0.0,PERDA DE CONTROLE NO SOLO

In [83]:
df_backup = df.copy()

In [84]:
df = df.drop_duplicates(subset='occurrence_id')
df.duplicated().sum()

0

In [85]:
df.describe()

       occurrence_id  total_aircraft_involved  total_aircraft_fatalities
count    8778.000000              8778.000000                6139.000000
mean    59443.002165                 1.011734                   0.138622
std     16877.633724                 0.113863                   0.622830
min     28256.000000                 1.000000                   0.000000
25%     45528.250000                 1.000000                   0.000000
50%     53204.500000                 1.000000                   0.000000
75%     78920.750000                 1.000000                   0.000000
max     82047.000000                 4.000000                  10.000000

In [86]:
df.isna().sum()

occurrence_id                   0
classification                  0
latitude                     2578
longitude                    2578
city                            0
state                           0
country                         0
aerodrome                       0
date                            0
time                            2
total_aircraft_involved         0
operator_category            2639
aircraft_type                2639
aircraft_manufacturer        2639
aircraft_model               2640
operation_phase              2639
aircraft_damage_level        2639
total_aircraft_fatalities    2639
type_category                   0
dtype: int64

In [87]:
df = df.copy()
df.replace('***', np.nan, inplace=True)
df.replace('****', np.nan, inplace=True)

In [88]:
df[['latitude', 'longitude']].isna().sum()

latitude     3841
longitude    3841
dtype: int64

In [89]:
''' The function checks for the next occurrence of the same city with valid coordinates in the order of the DataFrame. 
If such an occurrence is found, it uses those values to fill in the missing coordinates for the current row.'''
import sys
sys.path.append('../src')

from data_cleaning import fill_missing_coordinates_with_city

fill_missing_coordinates_with_city(df)

In [90]:
df[['latitude', 'longitude']].isna().sum()

latitude     227
longitude    227
dtype: int64

In [91]:
columns_to_check = [
    'operator_category', 'aircraft_type', 'aircraft_manufacturer',
    'aircraft_model', 'operation_phase', 'aircraft_damage_level',
    'total_aircraft_fatalities'
]

df = df[~df[columns_to_check].isna().all(axis=1)]

In [92]:
df['total_aircraft_fatalities'] = df['total_aircraft_fatalities'].astype(int)
df.sample()

,occurrence_id,classification,latitude,longitude,city,state,country,aerodrome,date,time,total_aircraft_involved,operator_category,aircraft_type,aircraft_manufacturer,aircraft_model,operation_phase,aircraft_damage_level,total_aircraft_fatalities,type_category
3835,66076,INCIDENTE GRAVE,-8.2336111111,-35.9861111111,CARUARU,PE,BRASIL,NaN,03/12/2016,10:25:00,1,NaN,AVIÃO,CIA AERONAUTICA PAULISTA,CAP-4,MANOBRA,NENHUM,0,FALHA DO MOTOR EM VOO

In [93]:
# Verify null collumns
df.isna().sum()

occurrence_id                   0
classification                  0
latitude                      127
longitude                     127
city                            0
state                           3
country                         0
aerodrome                    1964
date                            0
time                            2
total_aircraft_involved         0
operator_category            4160
aircraft_type                 165
aircraft_manufacturer         364
aircraft_model                160
operation_phase                30
aircraft_damage_level          53
total_aircraft_fatalities       0
type_category                   9
dtype: int64

In [94]:
# Due to our projects goals, we can safey eliminate these columns as they are not necessary.
df.drop(['operator_category', 'aerodrome', 'total_aircraft_involved', 'operation_phase'], axis = 1, inplace = True)
df.sample()

,occurrence_id,classification,latitude,longitude,city,state,country,date,time,aircraft_type,aircraft_manufacturer,aircraft_model,aircraft_damage_level,total_aircraft_fatalities,type_category
3934,65714,ACIDENTE,-7.1277777778,-55.3997222222,NOVO PROGRESSO,PA,BRASIL,16/09/2016,09:55:00,AVIÃO,PIPER AIRCRAFT,PA-46-350P,SUBSTANCIAL,0,COLISÃO COM OBSTÁCULOS NO SOLO

In [95]:
df.state.unique()

array(['MS', 'PR', 'RJ', 'SP', 'BA', 'RS', 'PE', 'MT', 'SC', 'CE', 'PA',
       'MG', 'GO', 'DF', 'RN', 'PI', 'MA', 'TO', 'AM', 'RR', 'ES', 'RO',
       'AC', 'AP', 'PB', 'AL', nan, 'SE'], dtype=object)

In [96]:
df.type_category.unique()

array(['COLISÃO COM AVE', 'CONTATO ANORMAL COM A PISTAA',
       'FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPONENTE',
       'COLISÃO COM AERONAVE NO SOLO', 'OPERAÇÕES NO SOLO',
       'EXCURSÃO DE PISTA', 'ESTOURO DE PNEU', 'COM COMANDOS DE VOO',
       'FALHA DO MOTOR EM VOO', 'INDETERMINADO',
       'COLISÃO COM OBSTÁCULOS NO SOLO', 'OPERAÇÃO A BAIXA ALTITUDE',
       'COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO', 'POUSO LONGO',
       'PERDA DE CONTROLE NO SOLO', 'SOPRO DE ROTOR',
       'COM PARA-BRISAS / JANELA / PORTA',
       'ALARME FALSO DE FOGO OU DE SUPERAQUECIMENTO',
       'VAZAMENTO DE COMBUSTÍVEL', 'COM TREM DE POUSO',
       'FALHA DO MOTOR NO SOLO', 'POUSO BRUSCO', 'OUTROS',
       'COLISÃO COM FAUNA', 'TRÁFEGO AÉREO', 'IMC NÃO INTENCIONAL',
       'CAUSADO POR FENÔMENO METEOROLÓGICO EM VOO',
       'VOO CONTROLADO CONTRA O TERRENO',
       'FALHA OU MAU FUNCIONAMENTO DO MOTOR', 'POUSO SEM TREM',
       'PERDA DE CONTROLE EM VOO', 'SUPERAQUECIMENTO',
       'POUSO EM LOCAL NÃO PREVISTO',
       'PERDA DE SEPARAÇÃO / COLISÃO EM VOO', 'F.O.D.', 'COM HÉLICE',
       'CAUSADO POR FENÔMENO METEOROLÓGICO NO SOLO', 'AERÓDROMO',
       'COM CARGAS EXTERNAS', 'INCURSÃO EM PISTA', 'FOGO EM VOO',
       'PERDA DE COMPONENTE EM VOO', 'COMBUSTÍVEL', 'FUMAÇA NA CABINE',
       'DESCOMPRESSÃO NÃO INTENCIONAL / EXPLOSIVA', 'TURBULÊNCIA',
       'AERONAVE ATINGIDA POR OBJETO', 'CORTANTE DE VENTO / TEMPESTADE',
       'GERENCIAMENTO DE TRÁFEGO AÉREO (ATM) / SERVIÇO DE COMUNICAÇÃO NAVEGAÇÃO, OU VIGILÂNCIA (CNS)',
       'PANE SECA', 'PERDA DE COMPONENTE NO SOLO',
       'POUSO AQUÉM/ALÉM DA PISTA', nan, 'MANOBRA ABRUPTA',
       'FOGO NO SOLO', 'VAZAMENTO DE OUTROS FLUIDOS', 'COM ROTOR',
       'FORMAÇÃO DE GELO', 'COM TRANSPORTE DE CARGA',
       'FOGO/FUMAÇA (SEM IMPACTO)', 'CORTE INVOLUNTÁRIO DO MOTOR',
       'COM PESSOAL EM VOO', 'COLISÃO DE VEÍCULO COM AERONAVE',
       'EVACUAÇÃO', 'COLISÃO NO SOLO',
       'PERDA DE CONDIÇÕES DE SUSTENTAÇÃO EM ROTA',
       'POUSO ANTES DA PISTA', 'COLISÃO EM VOO COM OBSTÁCULO',
       'REBOQUE DE PLANADOR', 'FALHA ESTRUTURAL', 'SOPRO DE REATOR',
       'DESORIENTAÇÃO ESPACIAL', 'PERDA DA CONSCIÊNCIA',
       'PROBLEMAS FISIOLÓGICOS', 'EXPLOSÃO', 'FOGO/FUMAÇA (PÓS-IMPACTO)',
       'CONTATO ANORMAL COM A PISTA', 'COLISÃO DE AERONAVES EM VOO',
       'CAUSADO POR RICOCHETE', 'RELACIONADO COM SECURITY',
       'COM LANÇAMENTO DE PESSOAS', 'HIPÓXIA', 'COM LANÇAMENTO DE CARGA'],
      dtype=object)

In [97]:
df['type_category'] = df['type_category'].str.split('/').str[0].str.strip()

In [98]:
df.type_category.unique()

array(['COLISÃO COM AVE', 'CONTATO ANORMAL COM A PISTAA',
       'FALHA OU MAU FUNCIONAMENTO DE SISTEMA',
       'COLISÃO COM AERONAVE NO SOLO', 'OPERAÇÕES NO SOLO',
       'EXCURSÃO DE PISTA', 'ESTOURO DE PNEU', 'COM COMANDOS DE VOO',
       'FALHA DO MOTOR EM VOO', 'INDETERMINADO',
       'COLISÃO COM OBSTÁCULOS NO SOLO', 'OPERAÇÃO A BAIXA ALTITUDE',
       'COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO', 'POUSO LONGO',
       'PERDA DE CONTROLE NO SOLO', 'SOPRO DE ROTOR', 'COM PARA-BRISAS',
       'ALARME FALSO DE FOGO OU DE SUPERAQUECIMENTO',
       'VAZAMENTO DE COMBUSTÍVEL', 'COM TREM DE POUSO',
       'FALHA DO MOTOR NO SOLO', 'POUSO BRUSCO', 'OUTROS',
       'COLISÃO COM FAUNA', 'TRÁFEGO AÉREO', 'IMC NÃO INTENCIONAL',
       'CAUSADO POR FENÔMENO METEOROLÓGICO EM VOO',
       'VOO CONTROLADO CONTRA O TERRENO',
       'FALHA OU MAU FUNCIONAMENTO DO MOTOR', 'POUSO SEM TREM',
       'PERDA DE CONTROLE EM VOO', 'SUPERAQUECIMENTO',
       'POUSO EM LOCAL NÃO PREVISTO', 'PERDA DE SEPARAÇÃO', 'F.O.D.',
       'COM HÉLICE', 'CAUSADO POR FENÔMENO METEOROLÓGICO NO SOLO',
       'AERÓDROMO', 'COM CARGAS EXTERNAS', 'INCURSÃO EM PISTA',
       'FOGO EM VOO', 'PERDA DE COMPONENTE EM VOO', 'COMBUSTÍVEL',
       'FUMAÇA NA CABINE', 'DESCOMPRESSÃO NÃO INTENCIONAL', 'TURBULÊNCIA',
       'AERONAVE ATINGIDA POR OBJETO', 'CORTANTE DE VENTO',
       'GERENCIAMENTO DE TRÁFEGO AÉREO (ATM)', 'PANE SECA',
       'PERDA DE COMPONENTE NO SOLO', 'POUSO AQUÉM', nan,
       'MANOBRA ABRUPTA', 'FOGO NO SOLO', 'VAZAMENTO DE OUTROS FLUIDOS',
       'COM ROTOR', 'FORMAÇÃO DE GELO', 'COM TRANSPORTE DE CARGA', 'FOGO',
       'CORTE INVOLUNTÁRIO DO MOTOR', 'COM PESSOAL EM VOO',
       'COLISÃO DE VEÍCULO COM AERONAVE', 'EVACUAÇÃO', 'COLISÃO NO SOLO',
       'PERDA DE CONDIÇÕES DE SUSTENTAÇÃO EM ROTA',
       'POUSO ANTES DA PISTA', 'COLISÃO EM VOO COM OBSTÁCULO',
       'REBOQUE DE PLANADOR', 'FALHA ESTRUTURAL', 'SOPRO DE REATOR',
       'DESORIENTAÇÃO ESPACIAL', 'PERDA DA CONSCIÊNCIA',
       'PROBLEMAS FISIOLÓGICOS', 'EXPLOSÃO',
       'CONTATO ANORMAL COM A PISTA', 'COLISÃO DE AERONAVES EM VOO',
       'CAUSADO POR RICOCHETE', 'RELACIONADO COM SECURITY',
       'COM LANÇAMENTO DE PESSOAS', 'HIPÓXIA', 'COM LANÇAMENTO DE CARGA'],
      dtype=object)

In [99]:
df.aircraft_type.unique()

array(['AVIÃO', nan, 'ULTRALEVE', 'HELICÓPTERO', 'ANFÍBIO', 'PLANADOR',
       'TRIKE', 'HIDROAVIÃO', 'BALÃO', 'DIRIGÍVEL'], dtype=object)

In [100]:
# Fill null values with 'Unknown'

df['aircraft_type'].fillna('Unknown', inplace=True)
df['aircraft_manufacturer'].fillna('Unknown', inplace=True)
df['aircraft_model'].fillna('Unknown', inplace=True)
df['aircraft_damage_level'].fillna('Unknown', inplace=True)
df['type_category'].fillna('Unknown', inplace=True)
df['time'].fillna('Unknown', inplace=True)
df['state'].fillna('Unknown', inplace=True)

In [101]:
df.isna().sum()

occurrence_id                  0
classification                 0
latitude                     127
longitude                    127
city                           0
state                          0
country                        0
date                           0
time                           0
aircraft_type                  0
aircraft_manufacturer          0
aircraft_model                 0
aircraft_damage_level          0
total_aircraft_fatalities      0
type_category                  0
dtype: int64

# Export The Dataframe & Start The Analysis

In [55]:
df.to_csv('../data/processed_data/processed_df.csv', index=False)